/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 back
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
}

#header{
 margin-top: 25px;
 height: 150px;
 width: 900px;
 background-color: green;
 margin-left: 25px;
 display: inline-block;



}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin-top: 25px;
 margin-bottom: 10px;
 margin-left: 25px;
 display: inline-block;

}
#main_content{
 margin-top: 10px;
 height: 350px;
 width: 600px;
 background-color: red;
 display: inline-block;
 margin-left: 323px;
 margin-bottom: 20px;

}
.subcontents{
 height: 150px;
 width: 175px;
 background-color: yellow;
 display: inline-block;
 margin-left: 17px;
 margin-top: 10px;

}
#advertisement{
 height: 100px;
 width: 550px;
 background-color: purple;
 margin-top: 50px;
 margin-left: 30px;

}
